.Game {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  display: grid;
  grid-template-areas:
    "Balance LevelSelector"
    "Store clicker"
    "GameStatistics clicker"
    "AudioSetting AudioSetting";
  grid-template-columns: 50% 50%;
  grid-template-rows: auto 1fr 1fr;
  background-color: var(--color-text);
  grid-gap: 1px;
}

.Game > * {
  background-color: var(--color-main);
}

.Game .Balance {
  grid-area: Balance;
}
.Game .LevelSelector {
  grid-area: LevelSelector;
}
.Game .Store {
  grid-area: Store;
}
.Game .GameStatistics {
  grid-area: GameStatistics;
}
.Game .clicker {
  grid-area: clicker;
}
.Game .AudioSetting {
  grid-area: AudioSetting;
}
