.LevelSelector {
  overflow: auto;
}
.LevelSelector .lvls {
  display: inline-flex;
  gap: 0.5em;
}
.LevelSelector [data-lvl] {
  width: 4.5em;
  height: 4.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 1px;
  
}
